<body>
<div class="html-guide col-sm-6">
  <h3 class="coding-header">Get coding!</h3>
  <br>
  <h5>Step 1: Install Visual Studio Code</h5>
  <br>
  <p>To start making your own website, a great start is getting a code editor which you can use to write
    your HTML.</p>
  <p>Visual Studio Code (VSCode) is great for this. You can download it <a href="https://code.visualstudio.com/download">here</a>.</p>
  <br>
  <h5>Step 2: Install the Live Server plugin</h5>
  <p>VSCode has a great plugin that allows you to see your webpage in action as you save changes without having to reload anything.</p>
  <ul>
    <li>Open the <b>Extensions</b> section on the left-hand side of VSCode</li>
    <li>Search for <b>Live Server</b> in the search bar and select the first result</li>
    <li>Click <b>Install</b></li>
  </ul>
  <p>The extension will now be installed and ready for us to use.</p>
</div>
<br>
<br>
<h5>Create folder</h5>
<br>
<h5>Create html file with skeleton</h5>
<br>
<h5>Start live server</h5>
<br>
<h5>Add headers, paragraphs and images</h5>
<br>
<h5>Add buttons to change size of image</h5>
<br>
<div class="next-button">
  <a href="/guides/web-development/css">Next up: <b>CSS</b></a>
</div>
</body>
