<body>
  <div class="html-guide col-sm-6">
    <h3 class="coding-header">Get coding!</h3>
    <br>
    <div>
      <p class="step-header"><strong>Step 1: Install Visual Studio Code</strong></p>
      <p>To start making your own website, a great start is getting a code editor which you can use to write
        your HTML.</p>
      <p>Visual Studio Code (VSCode) is great for this. You can download it <a href="https://code.visualstudio.com/download">here</a>.</p>
      <br>
    </div>
    <div>
      <p class="step-header"><strong>Step 2: Install the Live Server plugin</strong></p>
      <p>VSCode has a great plugin that allows you to see your webpage in action as you save changes without having to reload anything.</p>
      <ul>
        <li>Open the <b>Extensions</b> section on the left-hand side of VSCode</li>
        <li>Search for <b>Live Server</b> in the search bar and select the first result</li>
        <li>Click <b>Install</b></li>
      </ul>
      <p>The extension will now be installed and ready for us to use.</p>
      <br>
    </div>
    <div>
      <p class="step-header"><strong>Step 3: Create a folder on your computer and open in Visual Studio</strong></p>
      <ul>
        <li>Create a folder anywhere you like on your computer and name it e.g. <code>learn-first-demo</code>.</li>
        <li>Open this folder in VSCode by going to <b>File</b> --> <b>Open</b> --> Select your folder</li>
      </ul>
      <br>
    </div>
    <div>
      <p class="step-header"><strong>Step 4: Create an HTML file in VSCode</strong></p>
      <ul>
        <li>The left-hand side of VSCode will show your folder open (with no files).</li>
        <li>Right-click in this space and select <b>New File</b> and name the file <code>index.html</code>.</li>
        <img class="index-html-image" src="assets/new-file.png">
        <img class="index-html-image" src="assets/indexhtml.png">
      </ul>
      <br>
    </div>
    <div>
      <p class="step-header"><strong>Step 5: Let's add some content to our HTML page!</strong></p>
      <ul>
        <li>Copy the below code into your <code>index.html</code> file</li>
      </ul>
      <div class="index-html-skeleton">
        <code>&lt;h1&gt;Welcome to my page!&lt;/h1&gt;</code>
        <br>
        <code>&lt;p&gt;Here are some of my favourite interests:&lt;/p&gt;</code>
        <br>
        <code>&lt;ul&gt;</code>
        <br>
        &nbsp;&nbsp;<code>&lt;li&gt;Cooking&lt;/li&gt;</code><br>
        &nbsp;&nbsp;<code>&lt;li&gt;Reading&lt;/li&gt;</code><br>
        &nbsp;&nbsp;<code>&lt;li&gt;Running&lt;/li&gt;</code><br>
        <code>&lt;/ul&gt;</code><br>
        <code>&lt;p&gt;Here is my favourite landmark in the world:&lt;/p&gt;</code><br>
        <code>&lt;img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Kheops-Pyramid.jpg"&gt;</code>
      </div>
      <br>
      <ul>
        <li>Save your file by navigating to <b>File</b> --> <b>Save</b></li>
        <li>You're all set to open your website!</li>
      </ul>
    </div>
    <div>
      <p class="step-header"><strong>Step 6: Open your webpage!</strong></p>
      <ul>
        <li>Right-click your file in the left-side pane and select <b>Open with Live Server</b></li>
        <li>This will automatically open your webpage in your browser!</li>
      </ul>
      <p>If all goes well, you should see something like this:</p>
      <img class="html-webpage" src="assets/html-webpage.png">
    </div>
  </div>
  <br>
  <br>
  <br>
  <h5>Add buttons to change size of image</h5>
  <br>
  <div class="next-button">
    <a href="/guides/web-development/css">Next up: <b>CSS</b></a>
  </div>
</body>
