.guides-header {
  text-align: center;
  margin-top: 20px;
}

.guides-intro {
  text-align: center;
}

.guides-title {
  color: black;
  font-weight: bold;
}

.guides-item {
  color: black;
  font-style: italic;
}
