<body>
  <app-navbar></app-navbar>
  <h3 class="guides-header">Go-To Guides</h3>
  <div class="guides-intro col-sm-12">
    <hr>
    <p>You can find a range of guides here that explain some of the main concepts you'll come across
      in pursuing a career in technology. The guides are grouped into some common topics.
    </p>
  </div>
  <div class="guides-list col-sm-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="/guides/web-development" class="guides-title">Web Development</a>
        <ul>
          <li class="list-group-item"><a href="/guides" class="guides-item">HTML</a></li>
          <li class="list-group-item"><a href="/guides" class="guides-item">CSS</a></li>
          <li class="list-group-item"><a href="/guides" class="guides-item">Javascript</a></li>
        </ul>
      </li>
      <li class="list-group-item"><a href="/guides/infrastructure" class="guides-title">Infrastructure</a>
        <ul>
          <li class="list-group-item"><a href="/guides" class="guides-item">Docker</a></li>
          <li class="list-group-item"><a href="/guides" class="guides-item">Kubernetes</a></li>
          <li class="list-group-item"><a href="/guides" class="guides-item">Cloud Computing</a></li>
        </ul>
      </li>
      <li class="list-group-item"><a href="/guides/developer-tools" class="guides-title">Developer Tools</a>
        <ul>
          <li class="list-group-item"><a href="/guides" class="guides-item">UNIX</a></li>
          <li class="list-group-item"><a href="/guides" class="guides-item">Git</a></li>
        </ul>
      </li>
    </ul>
  </div>
</body>
