<body>
  <app-navbar></app-navbar>
  <h3 class="guides-header">Development Guides</h3>
  <div class="guides-intro col-sm-12">
    <hr>
    <p>Check out the guides below for either developing a website or developing a mobile app.
    </p>
  </div>
  <div class="guides-list col-sm-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="/guides/web-development" class="guides-title">Web Development - Overview</a>
        <ul>
          <li class="list-group-item"><a href="/guides/web-development/html" class="guides-item">HTML - Overview & Tutorial</a></li>
          <li class="list-group-item"><a href="/guides/web-development/css" class="guides-item">CSS - Overview & Tutorial</a></li>
          <li class="list-group-item"><a href="/guides/web-development/javascript" class="guides-item">Javascript - Overview & Tutorial</a></li>
        </ul>
      </li>
      <li class="list-group-item"><a href="/guides" class="guides-title">App Development - Overview</a>
        <ul>
          <li class="list-group-item"><a href="/guides" class="guides-item">iOS - Overview & Tutorial</a></li>
          <li class="list-group-item"><a href="/guides" class="guides-item">Android - Overview & Tutorial</a></li>
          <li class="list-group-item"><a href="/guides" class="guides-item">Multi-Platform - Overview & Tutorial</a></li>
        </ul>
      </li>
    </ul>
  </div>
</body>
