.web-dev-intro {
  text-align: center;
  margin-top: 20px;
}

.explanation-what-header {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
}

.explanation-what-text {
  text-align: justify;
}

.web-dev-explanation-gallery {
  width: 100%;
  height: auto;
}

.web-dev-elements-header {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
}

.building-block {
  text-align: center;
}

.show-hide-div {
  display: block;
}

.building-block-image {
  justify-content: center;
}

.original-macbook {
  height: 100%;
  width: 100%;
}

.smaller-macbook {
  height: 50%;
  width: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.show-hide-macbook {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-group {
  display: flex;
}

.btn {
  width: -webkit-fill-available;
  height: fit-content;
  margin-right: 10px;
  margin-left: 10px;
}

.web-dev-get-started-header {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
}

.next-button {
  text-align: center;
}