<div class="col-sm-12">
  <div class="intro col-sm-12">
    <h3 class="main-header">Learn First</h3>
    <h5 class="sub-header">The road to a career in technology</h5>
    <hr>
  </div>
  <div class="main-intro col-md-4">
    <br>
    <p>Technology makes the world work in extraordinary ways. To make this happen,
      the technology sector is booming with opportunities to grow your potential and
      find your perfect career.
    </p>
    <img src="../../assets/homepage-mac.jpg" class="homepage-mac">
  </div>
</div>