<div class="col-sm-12">
  <div class="intro col-sm-12">
    <h3 class="main-header">Learn First</h3>
    <h5 class="sub-header">Getting a head start in Software Development</h5>
    <hr>
  </div>
  <div class="main-intro col-md-6">
    <br>
    <p><b>Software Development</b> is a great path to follow. I created this space
      to help at least 1 person learn more about common software development ideas before
      diving in.
    </p>
    <img src="../../assets/homepage-mac.jpg" class="homepage-mac">
  </div>
</div>