<div class="col-sm-12">
  <div class="intro col-sm-12">
    <h3 class="main-header">Code Your Idea</h3>
    <h5 class="sub-header">Your head-start to making websites and mobile apps from scratch</h5>
    <hr>
  </div>
  <div class="main-intro col-md-6">
    <br>
    <p>Making your own website or mobile app should be fun and easy. That's why <b>Code Your Idea</b>
       is here to help you learn everything you need to know to get your best ideas turned into
      a website or app!
    </p>
    <img src="../../assets/homepage-mac.jpg" class="homepage-mac">
  </div>
</div>
