<body>
  <app-navbar></app-navbar>
  <h1 class="html-header">HTML</h1>
  <hr style="border: none; border-bottom: 3px solid red;">
  <div class="html-intro col-sm-6">
    <h3 class="html-intro-header">Intro to HTML</h3>
    <h4>What is HTML?</h4>
    <br>
    <p>HTML stands for <b>H</b>yper <b>T</b>ext <b>M</b>arkup <b>L</b>anguage.</p>
    <p>It is the skeleton structure of any webpage - any image, video or text that you see on a webpage has been
    defined in an HTML page.</p>
    <hr>
    <h4>How is HTML written?</h4>
    <br>
    <p>Content is defined in HTML using <b>tags</b>. Below is a list of the main tags you can use to surround and define your content.</p>
    <hr>
    <p><b>&lt;p&gt;</b> - defines a paragraph</p>
    <code>&lt;p&gt;This is a paragraph&lt;/p&gt;</code>
    <br>
    <p><mark>This is a paragraph</mark></p>
    <hr>
    <p><b>&lt;h1&gt;</b> - defines a page title</p>
    <code>&lt;h1&gt;Here is my page title&lt;/h1&gt;</code>
    <br>
    <br>
    <h1><mark>Here is my page title</mark></h1>
    <hr>
    <p><b>&lt;h2&gt;</b> - defines a sub-heading</p>
    <code>&lt;h2&gt;Here is my sub-heading&lt;/h2&gt;</code>
    <br>
    <br>
    <h2><mark>Here is my sub-heading</mark></h2>
    <hr>
    <div class="tooltip">Hover over me
      <span class="tooltiptext">Tooltip text</span>
    </div>
    <p><b>&lt;a&gt;</b> - defines a link to a URL / website</p>
    <code>&lt;a href="https://www.google.com"&gt;Here's a link to Google&lt;/a&gt;</code>
    <p><i>Pay attention to the <b>href</b> part - this is where you define the URL to link to</i></p>
    <mark><a href="https://www.google.com">Here's a link to Google</a></mark>
    <hr>
    <p><b>&lt;img&gt;</b> - defines an image either available online or on your computer</p>
    <code>&lt;img src="https://s1.cdn.autoevolution.com/images/news-pictures-600x/bugatti-chiron-production-ending-in-2021-fewer-than-100-units-still-available-140517-7.jpg"&gt;</code>
    <p><i>Note 1: pay attention to the <b>src</b> part - this is where you define either the url or the file path to your image</i></p>
    <p><i>Note 2: no closing tag needed!</i></p>
    <img src="https://s1.cdn.autoevolution.com/images/news-pictures-600x/bugatti-chiron-production-ending-in-2021-fewer-than-100-units-still-available-140517-7.jpg">
  </div>
  <hr style="border: none; border-bottom: 3px solid red;">
  <div class="html-guide col-sm-6">
    <h3 class="coding-header">Get coding!</h3>
    <br>
    <h5>Step 1: Install Visual Studio Code</h5>
    <br>
    <p>To start making your own website, a great start is getting a code editor which you can use to write
    your HTML.</p>
    <p>Visual Studio Code (VSCode) is great for this. You can download it <a href="https://code.visualstudio.com/download">here</a>.</p>
    <br>
    <h5>Step 2: Install the Live Server plugin</h5>
    <p>VSCode has a great plugin that allows you to see your webpage in action as you save changes without having to reload anything.</p>
    <ul>
      <li>Open the <b>Extensions</b> section on the left-hand side of VSCode</li>
      <li>Search for <b>Live Server</b> in the search bar and select the first result</li>
      <li>Click <b>Install</b></li>
    </ul>
    <p>The extension will now be installed and ready for us to use.</p>
  </div>
  <br>
  <br>
  <h5>Create folder</h5>
  <br>
  <h5>Create html file with skeleton</h5>
  <br>
  <h5>Start live server</h5>
  <br>
  <h5>Add headers, paragraphs and images</h5>
  <br>
  <h5>Add buttons to change size of image</h5>
  <br>
  <a href="/guides/web-development/css">Next: CSS</a>
</body>
