.navbar-nav { 
  display: inline-block;
}

ul.navbar-nav {
  margin-right: 1000px;
}

.navbar-nav>li {
  display: inline-block;
  padding-right:30px;
  color: white;
}

.website-links {
  color: white;
  text-decoration: none;
}