.navbar-nav { 
  display: inline-block;
}

.navbar-nav>li {
  display: inline-block;
  padding-right:30px;
  color: white;
  text-align: center;
}

.website-links {
  color: white;
  text-decoration: none;
}