<nav class="navbar navbar-dark bg-info">
  <!-- container-fluid gives a full width container -->
  <div class="container-fluid">

    <div class="navbar-header">
      <!-- navbar-brand is used to highlight the brand of your website -->
      <a href="/" class="navbar-brand">Home</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="/guides" class="website-links">Guides</a></li>
        <li><a href="/tutorials" class="website-links">Tutorials</a></li>
        <li><a href="/resources" class="website-links">Useful Resources</a></li>
      </ul>
    </div>
  </div>
</nav>