<body>
  <div class="html-intro col-sm-6">
    <h3 class="html-intro-header">Intro to HTML</h3>
    <h4>What is HTML?</h4>
    <br>
    <p>HTML stands for <b>H</b>yper <b>T</b>ext <b>M</b>arkup <b>L</b>anguage.</p>
    <p>It is the skeleton structure of any webpage - any image, video or text that you see on a webpage has been
      defined in an HTML page.</p>
    <hr>
    <h4>How is HTML written?</h4>
    <br>
    <p>Content is defined in HTML using <b>tags</b>. Below is a list of the main tags you can use to surround and define
      your content.</p>
    <hr>
    <p><b>&lt;p&gt;</b> - defines a paragraph</p>
    <code>&lt;p&gt;This is a paragraph&lt;/p&gt;</code>
    <br>
    <p>
      <mark>This is a paragraph</mark>
    </p>
    <hr>
    <p><b>&lt;h1&gt;</b> - defines a page title</p>
    <code>&lt;h1&gt;Here is my page title&lt;/h1&gt;</code>
    <br>
    <br>
    <h1>
      <mark>Here is my page title</mark>
    </h1>
    <hr>
    <p><b>&lt;h2&gt;</b> - defines a sub-heading</p>
    <code>&lt;h2&gt;Here is my sub-heading&lt;/h2&gt;</code>
    <br>
    <br>
    <h2>
      <mark>Here is my sub-heading</mark>
    </h2>
    <hr>
    <div class="tooltip">Hover over me
      <span class="tooltiptext">Tooltip text</span>
    </div>
    <p><b>&lt;a&gt;</b> - defines a link to a URL / website</p>
    <code>&lt;a href="https://www.google.com"&gt;Here's a link to Google&lt;/a&gt;</code>
    <p><i>Pay attention to the <b>href</b> part - this is where you define the URL to link to</i></p>
    <mark><a href="https://www.google.com">Here's a link to Google</a></mark>
    <hr>
    <p><b>&lt;img&gt;</b> - defines an image either available online or on your computer</p>
    <code>&lt;img
      src="https://s1.cdn.autoevolution.com/images/news-pictures-600x/bugatti-chiron-production-ending-in-2021-fewer-than-100-units-still-available-140517-7.jpg"&gt;</code>
    <p><i>Note 1: pay attention to the <b>src</b> part - this is where you define either the url or the file path to your
      image</i></p>
    <p><i>Note 2: no closing tag needed!</i></p>
    <img
      src="https://s1.cdn.autoevolution.com/images/news-pictures-600x/bugatti-chiron-production-ending-in-2021-fewer-than-100-units-still-available-140517-7.jpg">
  </div>
</body>
